{{!< default}}

              <div class="large-12 columns">
<div class="row">
    <div class="large-12 columns">
        {{> block-author}}
    </div>
</div>
<div class="row">
    <div class="large-12 columns fitWidth">
        {{> block-loop}}
    </div>
</div>
</div>


{{> block-pagination}}
