/* Import the font file with the icons in it */
@font-face {
    font-family: "casper-icons";
    src:url("../fonts/casper-icons.eot?v=1");
    src:url("../fonts/casper-icons.eot?v=1#iefix") format("embedded-opentype"),
        url("../fonts/casper-icons.woff?v=1") format("woff"),
        url("../fonts/casper-icons.ttf?v=1") format("truetype"),
        url("../fonts/casper-icons.svg?v=1#icons") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* Apply these base styles to all icons */
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "casper-icons", "Open Sans", sans-serif;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    text-decoration: none !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Each icon is created by inserting the correct character into the
content of the :before pseudo element. Like a boss. */
.icon-ghost:before {
    content: "\f600";
}
.icon-feed:before {
    content: "\f601";
}
.icon-twitter:before {
    content: "\f602";
    font-size: 1.1em;
}
.icon-google-plus:before {
    content: "\f603";
}
.icon-facebook:before {
    content: "\f604";
}
.icon-arrow-left:before {
    content: "\f605";
}
.icon-stats:before {
    content: "\f606";
}
.icon-location:before {
    content: "\f607";
    margin-left: -3px; /* Tracking fix */
}
.icon-link:before {
    content: "\f608";
}
.icon-menu:before {
    content: "\f609";
}

body, html {
    height:100%;
}

body {
    background-size: cover;
    background-attachment: fixed;
}

body, p, li {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

form {
    font-size: 11px;
}

aside /*, footer */ {
    color: white;
}

aside h1, aside h2, aside h3, aside h4, aside h5, aside h6
/*, footer h1, footer h2, footer h3, footer h4, footer h5, footer h6*/ {
    color: white;
}

footer h3, footer p {
     text-align: left;   
}

footer {
    position: relative;
}

hr {
    border: none;
    border-top: 1px solid silver;
    margin: 0.5em 0;
    /*border-top: 1px solid rgba(255, 255, 255, 0.4);*/
}

.fullWidth {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    max-width: none;
}

.l-box {
    padding: 1em;
}

ul.fitWidth, ul.fitHeight {
    margin: 0;
}

.fitWidth, li.fitWidth {
    padding-left: 0;
    padding-right: 0;
}

.fitHeight, li.fitHeight {
    padding-top: 0;
    padding-bottom: 0;  
}

.button {
    font-size: 11px;
    text-transform: uppercase;
}

/*  */
.page-wrapper {
    height: auto !important;
    min-height: 100%;
}

.content-wrapper {
    max-width: 1200px;
    background-color: #575852;

    height: auto !important;
    min-height: 100%;}

.main-content-wrapper {
    background-color: #ffffff;
}

.logo {
    height: 118px;
    text-align: center;
}

.logo > div {
    position: relative; display: inline-block;
}

.about {
    height: 420px; background-color: #373832;
}

.social-icons > a {
    background-color: #bbb; display: inline-block; padding: 4px;
}

.search-box {
    float: right;
}

.articles > li > div,
.articles > li.featured .image {
    height: 420px;
}

.articles > li.featured .image {
    text-align: center;
    vertical-align: middle;
}

.articles > li.featured {
    width: 100%;
    padding: 0 0.9375rem;   
    background-color: #2ba6cb;
}

.articles > li.featured .image {
    overflow: hidden;
}

.articles > li.featured .image > a,
.articles > li.featured .image > a > img
{
    height: 460px; 
}

.articles > li.featured a {
    color: white;
}

.articles > li.featured .description {
    color: white;
    height: 100%;
}

.articles > li.normal .description {
    margin-top: -0.75em;
}

.articles > li.normal .image, .articles > li.normal .image > img {
    height: 300px;
}

article .article-content > p > img:before {
    content: "";
}

article .article-content > p >img:after {
    content: "";
}

article .sidenote {
    width: 180px;
    float: left;
    font-style: italic;
    margin-bottom: 1em;
}

article .article-content > .sidenote > p {
     margin-left: 0;
}

article .article-content .fitImage {
    margin: 2em -2.15em;
}

.pagination {
    height: 32px;
    vertical-align: middle;
    text-align: center;
    color: silver;
    font-style: italic;
}

ul.country-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.country-list > li {
    text-decoration: uppercase;
}

ul.country-list > li > a {
    color: #fff;
    width: 100%;
    line-height: 32px;
    height: 32px;
    display: block;
    padding-left: 2em;
}

ul.country-list > li > a:hover {
    background-color: #2ba6cb;
    color: #fff;
}

a.centered-image {
    display: block;
}

.centered-image {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.centered-image > img {
    position: absolute;
    overflow: hidden;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    max-width: none;
}

iframe {
     border: none;   
}

.small-text {
    font-size: 0.8em;
}

.icon-text {
    color: darkgray;
    font-style: italic;
    padding: 8px 20px;
}

.icon-text.tag {
    background: url(/assets/images/icons/tag.png) left no-repeat;   
    background-size: 18px auto;
}

.icon-text.time {
    background: url(/assets/images/icons/calendar.png) left no-repeat;   
}

.icon-text.comment {
    background: url(/assets/images/icons/comments.png) left no-repeat;   
}

.icon-text.link {
    background: url(/assets/images/icons/link.png) left no-repeat;   
}

.icon-text.marker {
    background: url(/assets/images/icons/marker.png) left no-repeat;   
}

.read-next {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    margin-bottom: 1rem;
}

.read-next-story {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    min-width: 50%;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    
    height: 280px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.read-next-story .post {
    position: absolute;
    padding: 0.5em 1em;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}

.small-block-grid-2  > li:nth-of-type(2n+1),
.small-block-grid-3  > li:nth-of-type(3n+1),
.medium-block-grid-2 > li:nth-of-type(2n+1),
.medium-block-grid-3 > li:nth-of-type(3n+1),
.large-block-grid-2  > li:nth-of-type(2n+1),
.large-block-grid-3  > li:nth-of-type(3n+1){
    clear: none;
}

.hidden {
    text-indent: -9999px;
    visibility: hidden;
    display: none;
}

.author {
    padding: 40px 0;
}

.share {
    position: absolute;
    top: 6rem;
    right: 0;
    width: 240px;
}

.share a {
    font-size: 1.8rem;
    display: inline-block;
    margin: 1rem 1.6rem 1.6rem 0;
    color: #BBC7CC;
    text-decoration: none;
}

.share .icon-twitter:hover {
    color: #55acee;
}
.share .icon-facebook:hover {
    color: #3b5998;
}
.share .icon-google-plus:hover {
    color: #dd4b39;
}

@media only screen and (min-width:990px) {
    iframe.twitter-tweet {
        margin-left: 200px !important;   
    }
    
    article .article-content > p {
        margin-left: 200px;   
    }
    
    #livefyre-comments {
        margin-left: 200px;   
    }
}

@media only screen and (max-width:989px) {
    article .sidenote {
        margin-right: 1em;
        margin-bottom: 0.5em;
    }
    
    .read-next-story .post {
        height: 45%;   
    }
}
